<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="success-container">
        <h1>Welcome, {{ username }}!</h1>
        <p>Enjoy secure and private communication on our platform.</p>

        <!-- File Upload Form -->
        <form action="/upload_file" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload File</button>
        </form>

        <!-- Download File Button -->
        <a href="{{ url_for('list_files') }}" class="download-button">View Uploaded Files</a>

        
        <form action="/logout" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</body>
</html>
